.navbartop {
    display: flex;
    justify-content: space-between;
    background-color: rgb(236, 243, 243);
}
.navbartop-icons {
    display: flex;
    margin-left: 15px;
}
.navbartop-icons > li {
    list-style: none;
    margin: 4px;
    margin-left: 8px;
}
.navbartop-text {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 40px;
}
.navbartop-text > p{
    margin: 3px;
    font-size: 13px;
    margin-left: 7px;
    margin-right: 4px;
    border-width: 2px;
    padding-right: 10px;
}
.border-right-text {
    border-right: 1px solid rgb(240, 73, 73);
}